.leanheight{
	height: 200px;
	border: solid;1px;
}
.leanheight2{
	height: 200px;
	border-top: solid;1px;
	border-left: solid;1px;
	border-right: solid;1px;
}
.leanheight3{
	height: 200px;
	border-left: solid;1px;
	border-right: solid;1px;
}
.leanheight4{
	height: 200px;
	border-top: solid;1px;
	border-bottom: solid;1px;
}
.leanheight5{
	height: 200px;
	border: none;
}
.leanheight6{
	height: 200px;
	border-bottom: solid;1px;
	border-top: solid;1px;
	border-left: solid;1px;
}

.leantain {
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
}
.leanh2{
	text-align: center;
}

.search {
	border-bottom : solid;
	border-top : none;
	border-left : none;
	border-right : none;
    border-color: lightgray;
   	background-color:#FFF;
	width: 40%;
	text-align: center;
}

.candivsize{
	width: 100%;
	height: 70%;
}

.leanatag{
	width: 100%;
	height: 100%;
}

.leanpdiv{
	width: 100%;
	height: 80%;
	overflow: auto;
	text-align: left;
	color: black;
}

.leanpdiv::-webkit-scrollbar{
	display: none;
}

.leantextarea::-webkit-scrollbar{
	display: none;
}

.leantextareasize{
	width: 100%;
	height: 80%;
	resize: none;
	word-wrap: break-word;
   background: rgba(0,0,0,.03);
   border-color: rgba(0,0,0,.15);
   box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
}

.leantextareasize1{
	width: 100%;
	height: 92%;
	resize: none;
	word-wrap: break-word;
   background: rgba(0,0,0,.03);
   border-color: rgba(0,0,0,.15);
   box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
}
.close1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .4;
   }
.background1{
	background-image:url("../../../resources/images/leancanvas/1edit.png");
	background-position:bottom center;
	background-repeat: no-repeat;
}

.background2{
	background-image:url("../../../resources/images/leancanvas/2edit.png");
	background-position:bottom center;
	background-repeat: no-repeat;
}  

.background3{
	background-image:url("../../../resources/images/leancanvas/3edit.png");
	background-position:bottom center;
	background-repeat: no-repeat;
}  
   
.background4{
	background-image:url("../../../resources/images/leancanvas/4edit.png");
	background-position:center;
	background-repeat: no-repeat;
}  

.background5{
	background-image:url("../../../resources/images/leancanvas/5edit.png");
	background-position:center;
	background-repeat: no-repeat;
} 

.background6{
	background-image:url("../../../resources/images/leancanvas/6edit.png");
	background-position:center;
	background-repeat: no-repeat;
} 
.background7{
	background-image:url("../../../resources/images/leancanvas/7edit.png");
	background-position:center;
	background-repeat: no-repeat;
}
.background8{
	background-image:url("../../../resources/images/leancanvas/8edit.png");
	background-position:center;
	background-repeat: no-repeat;
}
.background9{
	background-image:url("../../../resources/images/leancanvas/9edit.png");
	background-position:center;
	background-repeat: no-repeat;
}

.leanbackdiv{
	margin-bottom : 15px;
	margin-top: 15px;
	background-color: #ffffff;
	border-radius: 25px;
    padding : 15px;
}