.admin-align-center {
	text-align: center;
}
.admin-chart-box {
	text-align: center;
	border: 1px solid #E6E9ED;
}
.admin-top {
	text-align: center;
	border: 1px solid #E6E9ED;
}
.admin-center {
	text-align: center;
	border: 1px solid #E6E9ED;
}
.admin-bottom {
	text-align: center;
	border: 1px solid #E6E9ED;
}
.admin-icon {
	font-size: 5em;
	padding: 50px 0;
    text-align: center;
}
#languageRank {
	height: 400px;
	/* width: 400px; */
	text-align: center;
}
.zc-img {
	text-align: center;
}