	.search {
		border-bottom : solid;
		border-top : none;
		border-left : none;
		border-right : none;
   	    border-color: lightgray;
		width: 35%;
	}
	
		.search1 {
		border-bottom : solid;
		border-top : none;
		border-left : none;
		border-right : none;
   	    border-color: lightgray;
		width: 15%;
	}
	
	
	.projectbox {
	    border:10px solid #D7EEF2;
	    border-radius: 12px;
	    background-color: #D7EEF2;
	    margin: 10px;
	    width: 300px;
	    float:left;
	    overflow-x: auto;
	    overflow-y: unset;
	    position:relative;
	    max-height: 765px;
	}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin:5px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  width: 160px;
  height: 73px;
  margin-bottom: 20px;
}

.button:hover {opacity: 0.6}