	.search {
		border-bottom : solid;
		border-top : none;
		border-left : none;
		border-right : none;
   	    border-color: lightgray;
   	    background-color: #FFF;
		width: 35%;
	}
	#search{
		min-height: 100px;
	}
	#bookmark{
	    min-height: 230px;
	}
		.search1 {
		border-bottom : solid;
		border-top : none;
		border-left : none;
		border-right : none;
   	    border-color: lightgray;
		width: 50%;
	}
	
	
	.projectbox {
	    border:10px solid #D7EEF2;
	    border-radius: 12px;
	    background-color: #D7EEF2;
	    margin: 15px;
	    width: 300px;
	    float:left;
	    overflow-x: auto;
	    overflow-y: unset;
	    position:relative;
	    max-height: 765px;
	}

.buttonProject {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin:5px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  width: 160px;
  height: 82px;
  margin-bottom: 20px;
}

.projectp{
	float:right; 
	margin-right:14px;
}

.projectSerchDiv{
	float:left;
}

.projectListDiv{
	float:left; 
	magin-top:5px;
}

.buttonProject:hover {opacity: 0.6}

.buttonproject {
  background-color: #fff;
  border: 5px solid #a3a1a1;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin:5px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  width: 160px;
  height: 84px;
  margin-bottom: 20px;
  float: left;
  margin-right: 8px;
}
.h4margin{
	margin-bottom:0px;
}
span:hover, span:focus {
	color : #000;
    text-decoration: none;
    transition: all 0.3s;
}
.buttonprojectword{
word-wrap: break-word;
}
.buttonproject:hover {
  background-color: #a3a1a1;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin:5px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  width: 160px;
  height: 84px;
  margin-bottom: 20px;
  float: left;
  margin-right: 8px;
}

.proinputclass{
	text-align: center;
}

.proradioclass{
	margin-left: 10%;
	margin-bottom: 10%;
}

.btn-3a{
	float : right;
	margin-top : 5px;
	margin-right: 10px;
	background-color : #46b29d;
	border: 3px solid #fff;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-3b{
	float : right;
	margin-top : 5px;
	margin-right: 10px;
	background-color : #de5b49;
	border: 3px solid #fff;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-3c{
	float : right;
	margin-top : 5px;
	margin-right: 10px;
	background-color : #ffa400;;
	border: 3px solid #ffa400;;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-3a:hover, .btn-3a:active {
    color: #46b29d;
    background: #fff;
}
.btn-3b:hover, .btn-3b:active {
	color: #de5b49;
    background: #fff;
}
.btn-3c:hover, .btn-3c:active {
	color: #ffa400;;
    background: #fff;
}
.projectcreatetitle{
	border-top-right-radius : 5px;
	border-top-left-radius : 5px;
	height: 50px;
	background-color : #566270;
	color : #FFF;
}
.projectcreatebottom{
	border-bottom-right-radius : 5px;
	border-bottom-left-radius : 5px;
	height: 50px;
	background-color : #566270;
	color : #FFF;
}
.projectcreatetitle > h3{
	margin-top: 0px;
    margin-bottom: 0px;
}
#ProjectName{
	height: 30px;
}
.modal-body {
    position: relative;
    padding: 6px;
}
.project-header{
	padding : 50px 100px 0px 100px;
	background-color: #FFF;
	float: left;
}
.project-content{
	padding : 50px 100px 0px 100px;
	background-color: #FFF;
	float: left;
}
.project-tail{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding : 50px 100px 50px 100px;
	background-color: #FFF;
	float: left;
	min-width: 1700px;
}
.container-fluid {
	float:left;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
a{
	    color: #999;
}