#calendar {
	float: left;
	max-width: 80%;
	margin: 0 auto;
}

#external-events {
    float: left;
    position: relative;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    margin-right: 30px;
}

#external-events .fc-event {
	margin: 1em 0;
	cursor: move;
}

.middleCalendar {
	position: relative;
    width: 100px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex; /* add */
	justify-content: center; /* add to align horizontal */
	align-items: center; /* add to align vertical */
}
.calendarname{
	text-align: center;
}
hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
}