#calendar {
	max-width: 900px;
	margin: 0 auto;
}

#external-events {
	float: left;
	position: relative;
	z-index: 2;
	top: 20px;
	left: 20px;
	width: 150px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
}

#external-events .fc-event {
	margin: 1em 0;
	cursor: move;
}

#calendar-md {
	width: 1400px;
}