<p><strong>${userId}님 </strong>저희 사이트에 오신것을 환영합니다.</p>

<p>사이트에 가입해주신 것을 진심으로 감사드립니다.</p>

<p>앞으로도 많은 방문 부탁드립니다.</p>
<a href='http://localhost:8090/controller/emailConfirm?userid=${userId}'>이메일 인증 확인</a>
<img src="http://hiphople.com/files/attach/images/9718043/877/777/009/23f9b0d89b5eb70640d20e20c60d9232.jpg" 
	style="width: 300px; height:200px"></img>

<p>&nbsp;</p>

