#dropzone {
    background: #ccccc;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
    background-color: yellow;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.dropnamesuper {
    position: absolute;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}

.dropnamechild{
	margin-top:25%;
	margin-left:25%;
    display:inline-table;
    float: left;
    width: 150px;
    height: 150px;
    border: 1px solid white;
     text-align: center;
}
.dropzonecontent{
	background-color: lightwhite;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: black;
}
