#dropzone {
    background: #ccccc;
    width: 100%;
	height:100%;
	min-height:1000px;
    line-height: 50px;
    font-weight: bold;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

#wrap {
    width: 75%;
    height: 100%;
    text-align:center;
    float:right;
    margin-top:30px; 
    overflow:hidden;
}
#over {
	margin-top:30px;
   	display:inline-block;
    width: 100%;
    height: 100%;
}
/* drop시 이미지 보이기  */
.dropzoneimg {
	z-index : -1;
 	position: fixed;
    opacity: 1;
    width:300px;
    height:200px;
    margin: -150px 0 0 -75px;
    top: 50%;
    left: 50%;
}
	  

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;

}
 /* 미리보기  */
.preview{
     z-index: 9999;
     position:absolute;
     border:0px solid #ccc;
     background:#333;
     padding:1px;
     display:none;
     color:#fff;
  }
  /* input 버튼  숨긴후 label로 버튼 형태 만들기 */ 
.filebox label {
    width: 12%;
    height: 50 px;
    color: #999;
    font-size: 22px;
    background-color: #566270;
    color: white;
    margin-right: 1600px;
    margin-top: 20px;
    border-radius: 25px;
}
  /* input 버튼  숨기기 */ 
.filebox input[type="file"] { 
  position: absolute; 
  overflow: hidden; 
  clip:rect(0,0,0,0); 
}


.jstree-anchor{
	background-color: white;	
	opacity: 10;
	margin-bottom:50px;
	
}

#filetitle{
	text-align: center;
}

.jstree-default .jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
    height: 30px;
}

hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
}

.search{
		border-bottom : solid;
		border-top : none;
		border-left : none;
		border-right : none;
   	    border-color: #566270;
		width: 50%;
}

 

.fileuploadbackdiv {
    background-color: #FFF;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
    width: 100%;
    min-width: 1730px;
    min-height: 1000px;
    
}
.fileuploadbackdiv::-webkit-scrollbar {
 display:none;
}

hr {
    margin-bottom: 20px;
    border-top: 0px;
    border: 0;
    width: 90%;
}
#fileTitle{
	text-align: center;
}
#fileicon{
	font-size: 25px;
	margin-left: 8px;
    margin-top: 5px;
}
.jstree{
	margin-top: 20px;
}
.jstree {
 font-size: 20px;
 height: 20px;
}

.jstree a.jstree-hovered {
 height: 20px;
}

.jstree a.jstree-clicked {
 height: 20px;
}

.dropzonechild{
	border:1px solid lightgray;
	word-wrap: break-word;
	float:left;
	width:250px;
	height:250px;
	margin-right:50px;
	margin-bottom:100px;
	border-radius:10px;
}
.dropzonechild_1{
	word-wrap: break-word;
	margin-left:150px;
	margin-top:5px
}

.upload_download{
	word-wrap: break-word;
	width:25px;
	height:25px;
	margin-right:3px
}
.thumbnail{
	display:inline;
	width:25px;
	height:25px;
	border: 1px solid #fff;
	margin: 0; 
	padding: 0;
	borderword-wrap: break-word;
}
.file_delete{
	word-wrap: break-word;
	width:25px;
	height:25px;
}
.dropzonecontent{
	word-wrap: break-word;
	float:left;
	width:200px;
	height:100px;
	background-color:white;
	text-align:center;
	color:black;
	border: 1px solid white;
	margin-left:20px;
	margin-top:30px;
	
}
.file_extension{
	width:80px;
	hight:80px;
	margin-left:10px	
}

.upload_fileName{
	word-wrap: break-word;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-top:40px;
	color:black;
	font-size:20px;	
}
.file-label{
	color:black;
	word-wrap: break-word;
	height:30px;
}
.file_boarddate{
	color:black;	
}
