.troublebackdiv {
    background-color: #FFF;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
    min-height: 850px;
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
}

#boardTitle{
	text-align: center;
}
hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 0px;
}

.navbar-form {
    margin-left: -45px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
}
.table > thead > tr > :nth-child(1){
	text-align:center;
	width : 30px;
}
.table > tbody > tr > :nth-child(1){
	text-align:center;
}
.table >thead > tr > :nth-child(2){
	text-align:center;
	width : 30px;
}
.table > thead > tr :nth-child(3){
	width : 200px;
}
.table > thead > tr :nth-child(4){
	width : 60px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    text-align: center;
    border-top: 1px solid #ddd;
}

.table > tbody > tr > :nth-child(1) {
    text-align: left;
}
.table > tbody > tr > :nth-child(3) {
    text-align: left;
}