<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>corin2-chatting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <style>
        #mainDialogs {
            height: 600px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div>
            projectNum<input type="text" id="projectNum"><br>
            projectName<input type="text" id="projectName"><br>
            <input type="button" id="createProjectBtn" value="프로젝트생성"><br>
            userid<input type="text" id="userid"><br>
            username<input type="text" id="username">
            <input type="button" id="register" value="가입">
        </div>
        <div class="row">
            <div class="col-sm-4" id="projectList" style="background-color:ivory;">
                <h1>Projects</h1>
            </div>
            <div class="col-sm-4" id="userList" style="background-color:lavender;">
                <h1>Users</h1>
            </div>
            <div class="col-sm-4" id="mainDialogs" style="background-color:lavenderblush;">
                <h1>대화창</h1>
            </div>
            <div class="message">
                <span id="selectedUser"></span>
                <input type="text" id="messageText">
                <input type="button" id="sendMessageBtn" value="Send">
                <input type="button" id="input" value="Input">
            </div>
        </div>

    </div>


    <script src="chatting.js"></script>
</body>
</html>
