/* header css */
#headerProjectName {
	border-left: 20px solid;
}

#showChatting {
	margin: 4px 4px;
}

.leader {
	position: absolute;
	top: 30px;
	right: 8px;
	width: 10px;
	color: #D81159;
}

.profileimg {
	width: 35px;
	height: 35px;
	margin: 5px;
}

.profileDropdown {
	font-size: 25pt;
	top: 7px;
	cursor: pointer;
}

.headerFloatLeft {
	float: left;
}

.headerCuror {
	cursor: pointer;
}

.badge {
	font-size: 10px;
	font-weight: normal;
	line-height: 13px;
	padding: 2px 6px;
	position: absolute;
	right: 2px;
	top: 8px;
}

#inviteMsg img {
	float: left;
	position: relative;
	left: 18px;
	right: 0;
	display: flex; /* add */
	justify-content: center; /* add to align horizontal */
	align-items: center; /* add to align vertical */
}

#inviteMsg li {
	display: block;
	background-color: #FFFFFF;
}

#inviteMsg a {
	text-align: center;
	float: left;
	border: solid 1px black;
	background-color: #FFFFFF;
	margin: 5px;
}

.messageInvite {
	display: block !important;
    font-size: 11px;
}

#inviteMsg span {
	white-space: normal;
	float: left;
}

.btnSpan {
	position: relative;
	left: 19px;
	display: flex; /* add */
	justify-content: center; /* add to align horizontal */
	align-items: center; /* add to align vertical */
}